<?xml version="1.0" encoding="UTF-8" ?>
<container xmlns="http://www.symfony-project.org/schema/dic/services"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.symfony-project.org/schema/dic/services http://www.symfony-project.org/schema/dic/services/services-1.0.xsd">

  <parameters>
    <parameter key="server.class">Bundle\ServerBundle\Server</parameter>
    <parameter key="server.event_dispatcher.class">Bundle\ServerBundle\EventDispatcher</parameter>
    <parameter key="server.request.class">Bundle\ServerBundle\Request</parameter>
    <parameter key="server.response.class">Bundle\ServerBundle\Response</parameter>
    <parameter key="server.socket_server.class">Bundle\ServerBundle\Socket\ServerSocket</parameter>
    <parameter key="server.socket_client.class">Bundle\ServerBundle\Socket\ClientSocket</parameter>
    <parameter key="server.dir_handler.class">Bundle\ServerBundle\Handler\DirHandler</parameter>
    <parameter key="server.symfony_handler.class">Bundle\ServerBundle\Handler\SymfonyHandler</parameter>
    <parameter key="server.error404_handler.class">Bundle\ServerBundle\Handler\Error404Handler</parameter>
    <parameter key="server.compression_filter.class">Bundle\ServerBundle\Filter\CompressionFilter</parameter>
    <parameter key="server.statistics_filter.class">Bundle\ServerBundle\Filter\StatisticsFilter</parameter>

    <parameter key="server.pid_file">%kernel.cache_dir%/server.pid</parameter>
    <parameter key="server.user" type="constant">null</parameter>
    <parameter key="server.group" type="constant">null</parameter>
    <parameter key="server.umask" type="constant">null</parameter>

    <parameter key="server.hostname">localhost</parameter>
    <parameter key="server.admin">root@localhost</parameter>
    <parameter key="server.hostname_lookups" type="constant">false</parameter>
    <parameter key="server.kernel_environment">%kernel.environment%</parameter>
    <parameter key="server.kernel_debug">%kernel.debug%</parameter>

    <parameter key="server.address">*</parameter>
    <parameter key="server.port">1962</parameter>
    <parameter key="server.max_clients">100</parameter>
    <parameter key="server.max_requests_per_child">1000</parameter>
    <parameter key="server.timeout">90</parameter>
    <parameter key="server.keepalive_timeout">15</parameter>
    
    <parameter key="server.document_root">%kernel.root_dir%/../web</parameter>
    <parameter key="server.compression" type="constant">false</parameter>
  </parameters>

  <services>
    <service id="server.dir_handler" class="%server.dir_handler.class%">
      <annotation name="server.request_handler" />
      <argument type="service" id="service_container" />
      <argument type="string">%server.document_root%</argument>
    </service>
    <service id="server.symfony_handler" class="%server.symfony_handler.class%">
      <annotation name="server.request_handler" />
      <argument type="service" id="service_container" />
      <argument type="service" id="kernel" />
      <argument type="collection">
        <argument key="hostname">%server.hostname%</argument>
        <argument key="admin">%server.admin%</argument>
        <argument key="hostname_lookups">%server.hostname_lookups%</argument>
        <argument key="kernel_environment">%server.kernel_environment%</argument>
        <argument key="kernel_debug">%server.kernel_debug%</argument>
        <argument key="document_root">%server.document_root%</argument>
      </argument>
    </service>
    <service id="server.error404_handler" class="%server.error404_handler.class%">
      <annotation name="server.request_handler" />
      <argument type="service" id="service_container" />
    </service>

    <service id="server.compression_filter" class="%server.compression_filter.class%">
      <annotation name="server.response_filter" />
      <argument>%server.compression%</argument>
    </service>
    <service id="server.statistics_filter" class="%server.statistics_filter.class%">
      <annotation name="server.response_filter" />
    </service>

    <service id="server.request" class="%server.request.class%" />
    <service id="server.response" class="%server.response.class%" shared="false">
      <argument type="service" id="server.request" />
    </service>

    <service id="server.server_socket" class="%server.socket_server.class%">
      <argument type="service" id="service_container" />
      <argument>%server.address%</argument>
      <argument>%server.port%</argument>
      <argument>%server.max_clients%</argument>
    </service>
    <service id="server.client_socket" class="%server.socket_client.class%" shared="false">
      <argument type="service" id="server.server_socket" />
      <argument>%server.timeout%</argument>
      <argument>%server.keepalive_timeout%</argument>
    </service>

    <service id="server.event_dispatcher" class="%server.event_dispatcher.class%">
      <argument type="service" id="service_container" />
    </service>
    <service id="server" class="%server.class%">
      <argument type="service" id="server.event_dispatcher" />
      <argument type="service" id="server.server_socket" />
      <argument type="collection">
        <argument key="pid_file">%server.pid_file%</argument>
        <argument key="user">%server.user%</argument>
        <argument key="group">%server.group%</argument>
        <argument key="umask">%server.umask%</argument>
        <argument key="environment">%kernel.environment%</argument>
        <argument key="debug">%kernel.debug%</argument>
        <argument key="kernel_environment">%server.kernel_environment%</argument>
        <argument key="kernel_debug">%server.kernel_debug%</argument>
        <argument key="address">%server.address%</argument>
        <argument key="port">%server.port%</argument>
        <argument key="max_clients">%server.max_clients%</argument>
        <argument key="max_requests_per_child">%server.max_requests_per_child%</argument>
        <argument key="document_root">%server.document_root%</argument>
        <argument key="timeout">%server.timeout%</argument>
        <argument key="keepalive_timeout">%server.keepalive_timeout%</argument>
      </argument>
    </service>
  </services>
</container>
